[submodule "QtNats"]
	path = QtNats
	url = https://github.com/zaick4al/qtnats.git
	branch = Qt6_CMake
[submodule "QtService"]
	path = QtService
	url = https://github.com/zaick4al/QtService.git
	branch = Qt6-Cmake
